.principal{
    display: flex;              
}
.IMGEsquerda{
    display: flex;
    width: 29%;    
   
}
.contato{
    display: block;    
    padding-right: 60px;    
    width: 50%;
}
.Fale-Conosco{
    display: flex;
    gap: 50px;
    flex-wrap: wrap;   
    margin: 5% 1% 0% 25%; 
    font-size: 35px;
}

#txtNome,#txtEmail{
    display: flex;
    margin: 10% 1% 10% 22%; 
    width: 450px;
    height: 40px;
    border-radius: 10px;
    font-size: 15px;
    color: black;
}

#txtMensagem{
    display: flex;    
    width: 350px;
    margin:10% 1% 10% 30%;
    border-radius: 10px;
    font-size: 15px;
    color: black;
}

#btnEnviar{
    display: flex;    
    align-items:center;
    justify-content: center;      
    margin: 10% 1% 1% 49%;
    border-radius: 10px;     
    width: 130px;
    height: 45px;    
    background-color: black;
    font-size: 18px;
    cursor: pointer;
}

.IMGDireita{
    display: flex;
    width: 29%;
}